html, body {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-variant: small-caps;
    word-spacing: -0.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: lightgrey;
    image-rendering: crisp-edges;  /* Firefox */
    image-rendering: pixelated;    /* Chrome */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#smolpxlBar {
    background-color: lightgrey;
    margin: 0em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#smolpxlBar a {
    background-color: #eeeeee;
    color: black;
    display: inline-block;
    font-size: 95%;
    text-decoration: none;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    border: 0.15em solid #2f4858;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, .3);
    margin-right: 0.2em;
}

#smolpxlBar a span {
    display: flex;
    align-items: center;
}

#smolpxlBar a span svg {
    height: 0.9em;
    width: 0.9em;
    margin-left: 0.3em;
}

#smolpxlBar a span svg.leftimg {
    margin-left: 0em;
    margin-right: 0.3em;
}

#smolpxlBar a span span {
    margin-bottom: -0.15em;
}

.shareonBorder {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
}

.shareonBox {
    background-color: white;
    opacity: 1;
    width: 22em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    padding: 1.5em;
    border-radius: 1em;
}

.shareonBox h2 {
    margin: 0em 0em 0.5em 0em;
}

.shareonBox .shareonLink {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    margin-top: 1.1em;
}

.shareonBox .shareonLink input {
    flex-grow: 2;
    width: 10em;
    margin-left: 0.3em;
}

.shareonBox #shareonCopied {
    height: 1.3em;
    padding: 0.5em;
    text-align: right;
    font-size: 0.9em;
    color: #666666;
}

.bar {
    background-color: black;
    color: white;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
}

.bar > span:not(:empty) {
    margin: 0.1em;
}

#bottomBar {
    margin-top: -0.3em;
}

.overlay {
    display: none;
    position: absolute;
}

.overlayInside {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.overlayInside > button {
    background: none;
    border: none;
    color: rgb(200, 200, 200);
    display: block;
    font-family: inherit;
    font-variant: inherit;
    font-weight: inherit;
    margin: 0.15em auto;
    padding: 0em 0.2em;
    white-space: nowrap;
    word-spacing: inherit;
}

.overlayInside > button:focus {
    color: white;
    outline: 1vw solid white;
}

.overlayInside > button:active {
    padding: 0em 0.2em;
}

.overlayInside > div {
    margin: 0.15em auto;
    color: white;
    width: max-content;
}

#menu {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    z-index: 3;
}

#message {
    z-index: 2;
}

#message, #message * {
    pointer-events: none;
}

.positionedText {
    z-index: 2;
    position: absolute;
}

.positionedText, .positionedText * {
    pointer-events: none;
}
